<div id="myMain_contact" class="main-contact"><a name="main_contact"></a>
			<div class="contact-logo">
				<div class="contact_flip">
						<img src="/static/image/Лотос-логотип-150x150.png" alt="Созвездие лотос - производство нетканых материалов и утеплителей">
				</div>
				<span class="name-company">Созвездие лотос</span>
			</div>
				<div class="contact">
					
					
					<div class="contact-info">
						<img src="/static/image/monotone_position_gps.png" height="32" width="32" alt="адрес">
						<span>630108, г. Новосибирск,  проезд Энергетиков 11</span>
						<img src="/static/image/mailwhite.png" alt="mail">
						<span>e-mail: info@sozvezdielotos.ru</span>
						<img src="/static/image/phone_telephone_call.png" alt="telephone">
						<span>тел: +7 (383) 240-84-26</span>
					</div>
				</div>
				
</div>
							
<footer>
		<p>© 2019 СОЗВЕЗДИЕ ЛОТОС. Все права защищены</p>
</footer>