{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Лотекс ЭКОСТРОЙ</title>
	<meta name="keywords" content="ткани, полиэфирные волокна, нетканые материалы, теплоизоляция, утеплитель, лотекс, экострой, лотекс-экострой, lotex-ecostroy">
	<meta name="description" content="Лотекс Экострой —компания занимается производством и продажей теплоизоляции, а также нетканых материалов.">
	<link rel="stylesheet" href="{% static 'css/lotos_style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="{% static 'image/Лотос-логотип-150x150.png' %}" type="image/png">
</head>

<body>

	{% block content %}

	{% endblock content %}
	

</body>
</html>