{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="copyright" content="Все права принадлежат ООО НПК "Созвездие Лотос"">
	<meta http-equiv="content-language" content="ru">
	<meta http-equiv="content-type" content="text/html" charset="UTF-8">
	<meta name="keywords" content="ЛОТЕКС ЭКО СТРОЙ 100% БЕЗОПАСНЫЙ, ЭКОЛОГИЧЕСКИ ЧИСТЫЙ, СОВРЕМЕННЫЙ ПОЛИЭФИРНЫЙ, ТЕПЛОИЗОЛЯЦИОННЫЙ МАТЕРИАЛ, Полиэфирное волокно, для пола, для стен, для кровли, утеплитель, не впитывает влагу, Утеплитель Лотекс ЭКО Строй, Лотекс ЭКО Строй, безопасный, экологичный, чистый, современный, практичный, полиэфирный, лотекс, эко, фенол, утепление, оптом, купить">
	<meta name="description" content="Лотекс Экострой — экологически чистый утеплитель для дома. Идеально подходит для пола, для кровли, для стен.">
	<title>Лотекс ЭКОСТРОЙ - экологически чистый теплоизоляционный материал</title>
	<link rel="stylesheet" href="{% static 'css/lotos_style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat|Roboto" rel="stylesheet">
	<link class="link-css" rel="shortcut icon" href="{% static 'image/favicon2.png' %}" title="lotex-ecostroy" type="image/png">
</head>

<body>

	{% block content %}

	{% endblock content %}
	

</body>
</html>